<!DOCTYPE html>
<html lang="en">
<div class = "bg-image" style= "background-image: url('./static/img/bkgd.jpg')">
<head>
  <meta charset="utf-8">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../static/css/leaflet.extra-markers.min.css">
  
    <!--D3 cdn-->
    <script src="https://d3js.org/d3.v5.min.js"></script>
  
    <!-- Chart.js for pie chart-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
   
    <!-- from ufo -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
</head>
<style>
/* Rounded border */
  hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px; }
</style>

<body>

  <div class="container">
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
      <h1 class="display-4">Chicago Food Inspection Data</h1>
      <p class="lead">Research restaurants, daycares, schools, and more.</p>
      <hr class="my-4">
      <p>Search for a food service facility or a group of facilities. Your search will return up to 500 results, with locations plotted on the map.</p>
      <p>Find their food safety violations, risk level, and pass/fail status.</p>
      </div>
  </div>


  <!-- --------------------------- -->


  <div class="features">
    <div class="row" id="graphsAndFilter">
      <div class="col-lg-2">
        <aside class="filters">
          <div class="panel panel-default">
            <div class="panel-body">
              <form id="mainForm">
               <div class="form-group card">
                <ul class="list-group">
                  <li class="filter list-group-item">
                  <label for="ID">ID</label>
                  <input class="form-control" id="searchID" type="text" placeholder= "2352683"></input>

                  <hr class="dashed"> 
                  <label for="date">Name</label>
                  <input class="form-control" id="searchName" type="text" placeholder= "Popeye's"></input>

                  <hr class="dashed"> 
                  <label for="type">Facility Type</label>
                  <input class="form-control" id="searchFacilityType" type="text" placeholder = "Restaurant"></input>

                  <hr class="dashed"> 
                  <label for="risk">Risk Level</label>
                  <input class="form-control" id="searchRiskLevel" type="text" placeholder = "Risk 1 (High)"></input>

                  <hr class="dashed"> 
                  <label for="result">Results</label>
                  <input class="form-control" id="searchResults" type="text" placeholder = "Pass w/ Conditions"></input>
                  </li>
                </form>
              </ul>
              <button class = "btn btn-outline-secondary" id="searchButton" type="button" class="btn btn-default">Search</button> 
              <button class = "btn btn-outline-secondary" id="resetButton" type="button" class="btn btn-default" >Reset Data</button>
          </div>
        </div>
      </aside>
    </div>
        <div class="col-lg-5">
          <div class="caption">
            <h3>Chicago Food Inspection Map</h3>
            <!-- The div where we will inject our risk pie chart -->
            <div id="map-id" class="card"></div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="caption">
            <h3>Facility Inspection Results</h3>
            <!-- The div where we will inject our facility distribution pie chart -->
            <div id= "donut" class="card">           
              <!-- Custom tooltip canvas -->
              <canvas id="tooltip-canvas"></canvas>
              <!-- Canvas for Chart.js -->
              <canvas id="risk-pie"></canvas>
            </div>
          </div>
        </div>
        <div class="row" id="resultMessage"></div>
    </div>
</div>


<!-- --------------------------- -->


<div class="features">
  <div class="row" id="barDiv">
    <div class="col">
      <div class="caption">
        <h3>Facility Type Comparison</h3>
          <div class="card">
          <!-- -- Bar Chart -- -->
            <div class="col" id="bar-chart"></div>
        </div>
      </div>
    </div>
  </div>
</div>

    
    <!-- --------------------------- -->


    <div class="features">
      <div class="row" id="tableDiv">
      <!-- -- Table -- -->
      <div class="col">
        <div id="table-area" class="">
          <table id="inspection-table" class="table table-striped table-hover">
            <thead>
              <tr>
                <th class="table-head">Inspection ID</th>
                <th class="table-head">Address</th>
                <th class="table-head">Name</th>
                <th class="table-head">Facility Type</th>
                <th class="table-head">Inspection Date</th>
                <th class="table-head">Results</th>
                <th class="table-head">Risk</th>
                <th class="table-head">Violations</th>              
              </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
  </div>



  <footer class="footer">
    <span class="bottom"><a href="/api">Full data in JSON format</a></span>
  </footer>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- API key -->
  <script src="../static/js/config.js"></script>
  
  
  <!-- D3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- MomentJS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <!-- plot.ly -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


  <!-- Icons -->
  <script src="../static/js/leaflet.extra-markers.min.js"></script>

  <!-- polyfill.io is library for using newer JavaScript features in older browers (such as Object.assign) -->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

  
  <!-- Table -->
  <script src="../static/js/main.js"></script>


</body>
</div>
</html>



